<template>
  <div>
    <b-form-group label="Name">
      <b-input v-model="form.name"></b-input>
    </b-form-group>
    <b-form-group label="Surname">
      <b-input v-model="form.surname"></b-input>
    </b-form-group>
  </div>
</template>
<script>
import BaseFormMixin from "../../modules/pds-crud/mixins/BaseFormMixin";

export default {
  name: "AuthorForm",
  mixins: [BaseFormMixin],
  data() {
    return {
      form: {
        name: "",
        surname: ""
      }
    };
  }
};
</script>
