<template>
  <div>
    <b-form-group label="Name">
      <b-input v-model="form.name"></b-input>
    </b-form-group>
    <b-form-group label="Year">
      <b-input v-model="form.year"></b-input>
    </b-form-group>
    <b-form-group label="Author">
      {{ form.author }}
      <b-form-select v-model="form.author" :options="formattedAuthors"></b-form-select>
    </b-form-group>
  </div>
</template>
<script>
import BaseFormMixin from "../../modules/pds-crud/mixins/BaseFormMixin";

export default {
  name: "BookForm",
  mixins: [BaseFormMixin],
  created() {
    this.$api.authors.getAll().then(res => {
      this.authors = res;
    });
  },
  computed: {
    formattedAuthors() {
      return this.authors.map(item => ({
        value: item,
        text: item.name + " " + item.surname
      }));
    }
  },
  data() {
    return {
      authors: [],
      form: {
        name: "",
        year: 2020,
        author: {}
      }
    };
  }
};
</script>
