<template>
  <div>
    <b-nav pills>
      <b-nav-item :to="{ name: 'admin.books' }">Books</b-nav-item>
      <b-nav-item :to="{ name: 'admin.authors' }">Authors</b-nav-item>
    </b-nav>
    <router-view></router-view>
  </div>
</template>
