<template>
  <div class="about">
    <h1>authors</h1>
    <pds-crud-table :fields="fields" :api="api"></pds-crud-table>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "AdminAuthors",
  data() {
    return {
      api: this.$api.authors,
      fields: [
        {
          key: "id",
          label: "Id"
        },
        {
          key: "name",
          label: "First name"
        },
        {
          key: "surname",
          label: "Surname"
        }
      ]
    };
  }
};
</script>
