<template>
  <div class="about">
    <h1>books</h1>
    <pds-crud-table :fields="fields" :api="api"></pds-crud-table>
  </div>
</template>
<script>
export default {
  name: "AdminBooks",
  data() {
    return {
      api: this.$api.books,
      fields: [
        {
          key: "id",
          label: "Id"
        },
        {
          key: "name",
          label: "Name"
        },
        {
          key: "year",
          label: "Year"
        },
        {
          key: "author",
          label: "Author",
          formatter(item) {
            if (!item) return "N/A";
            return item.name + " " + item.surname;
          }
        }
      ]
    };
  }
};
</script>
