<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <script src="scripts/vue.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
      Vue.component("todo-item", {
        template: `
<div>
    <div v-if="editMode">
        <input type="text" v-model="newText">
        <button @click="$emit('editItem', { name: text, newText: newText})">save</button>
        <button @click="editMode = false">cancel</button>
    </div>
    <div v-else>
        <span :class="finished ? 'finished' : ''">{{text}}</span>
        <button @click="$emit('deleteItem', text)">delete</button>
        <button @click="editMode = true">edit</button>
        <button @click="$emit('clickItem', text)">complete</button>
    </div>
</div>`,
        props: {
          text: {
            type: String,
          },
          finished: {
            type: Boolean,
            default: false
          }
        },
        data() {
          return {
            newText: this.text,
            editMode: false
          }
        },
      })

      let app = new Vue({
        el: "#app",
        template: `
<div>
    <h2>{{totalItems()}} / {{completedItems()}}</h2>
    <todo-item
    :text="item.text"
    :finished="item.finished"
    @clickItem="onItemClick($event)"
    @deleteItem="onDeleteClick($event)"
    @editItem="editItemClick($event)"
    :key="item.text"
    v-for="item in todolist"></todo-item>
    <br>
    <input type="text" v-model="newItemText"><button @click="addItem()">Add</button>
</div>
`,
        data() {
          return {
            todolist: [
              {
                text: "utrit prah",
                finished: true
              },
              {
                text: "umyt nadobi",
                finished: false
              },
              {
                text: "zalit kytky",
                finished: false
              },
            ],
            newItemText: ""
          }
        },
        computed: {
          finishedItems() {
            return this.todolist.filter((item) => item.finished)
          }
        },
        methods: {
          totalItems() {
            console.log('volam totalItems')
            return this.todolist.length
          },
          completedItems() {
            return this.todolist.filter((item) => item.finished).length
          },
          onDeleteClick(text) {
            this.todolist = this.todolist.filter((item) => item.text !== text)
            // this.todolist.splice(this.todolist.find((item) => item.text === text))
          },
          onItemClick(text) {
            this.todolist = this.todolist.map((item) => {
              return {
                ...item,
                finished: item.text === text ? !item.finished : item.finished
              }
            })
          },
          addItem() {
            this.todolist.push({
              text: this.newItemText,
              finished: false
            })

            this.newItemText = ""
          },
          editItemClick(evt) {
            this.todolist.find((item) => item.text === evt.name).text = evt.newText
          },
        }
      })
    })
    </script>
</head>
<body>
<div id="app"></div>
</body>
</html>