<template>
  <div>
    <component :is="$route.meta.formComponent" v-model="form"></component>
    {{ form }}
    <b-btn @click="create()">Create</b-btn>
  </div>
</template>

<script>
export default {
  name: "CreateEntityForm",
  data() {
    return {
      form: {}
    };
  },
  methods: {
    create() {
      this.$route.meta.api.create(this.form).then(res => {
        this.$router.push({
          name: this.$route.meta.redirect
        });
      });
    }
  }
};
</script>
