<template>
  <div>
    <component :is="$route.meta.formComponent" v-model="form"></component>
    <b-btn @click="save()">Save</b-btn>
  </div>
</template>

<script>
export default {
  name: "EditEntityForm",
  created() {
    this.fetch();
  },
  data() {
    return {
      form: {}
    };
  },
  methods: {
    fetch() {
      this.$route.meta.api.getOne(this.$route.params.id).then(res => {
        this.form = res;
      });
    },
    save() {
      this.$route.meta.api.edit(this.$route.params.id, this.form).then(res => {
        this.$router.push({
          name: this.$route.meta.redirect
        });
      });
    }
  }
};
</script>
