<template>
  <div>
    <b-table :items="items" :fields="fieldsWithActions">
      <template v-slot:cell(actions)="data">
        <b-btn class="mr-1" :to="{ name: $route.name + '.edit', params: { id: data.item.id } }">Edit</b-btn>
        <b-btn @click="remove(data.item.id)">Delete</b-btn>
      </template>
    </b-table>

    <b-btn :to="{ name: $route.name + '.create' }">Add new item</b-btn>
  </div>
</template>

<script>
export default {
  name: "PdsCrudTable",
  props: {
    fields: {
      type: Array,
      required: true
    },
    api: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      items: []
    };
  },
  created() {
    this.fetch();
  },
  computed: {
    fieldsWithActions() {
      return [
        ...this.fields,
        {
          key: "actions",
          label: "Actions"
        }
      ];
    }
  },
  methods: {
    fetch() {
      this.api.getAll().then(res => {
        this.items = res;
      });
    },
    remove(id) {
      if (!confirm("are you sure")) {
        return;
      }

      this.api.remove(id).then(() => {
        this.fetch();
      });
    }
  }
};
</script>
